%tr{:id => page.html_id}
  %td{:align => :right, :width => 200}
    = link_to page_real_url(page), page_real_url(page)
  %td{:align => :center, :width => :auto}
    = page.title
  %td{:align => :center, :width => :auto}
    = page_publish_status(page)
  %td{:align => :left}
    = admin_edit_button('修改页面', page)
    = admin_delete_button(page)

