- commentable = comment.commentable
.cell.comment_header.muted
  .pull-right.timeago
    = time_ago_in_words(comment.created_at)
  = comment.user.nickname
  回复了
  = user_profile_link commentable.user
  创建的话题
  %span.chevron ›
  = link_to commentable.notifiable_title, commentable.notifiable_path, :class => :rabel
.inner
  .reply_content
    = format_content comment.content

