- commentable = comment.commentable
.cell.comment_header
  .fr
    %span.gray= time_ago_in_words(comment.created_at)
  .muted
    = comment.user.nickname
    回复了
    = user_profile_link commentable.user
    创建的话题
    %span.chevron ›
    = link_to commentable.notifiable_title, commentable.notifiable_path, :class => :rabel
.inner
  .reply_content
    = format_content comment.content

