.box
  .cell= build_navigation(['登入'])
  .inner
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
      = devise_error_messages!
      = f.input :nickname, :label => '用户名', :input_html => {:autofocus => true}
      = f.input :password, :label => '密码'
      - if devise_mapping.rememberable?
        .hide= f.check_box :remember_me, :checked => true
      .form-actions
        = f.submit '登入', :class => 'btn btn-small btn-primary'
        .additional
          .gray 登录后 cookie 会被记住一年
          = render :partial => "devise/shared/links"

