- if user_signed_in?
  - content_for :template_js do
    $("a.super").click(function() { $("textarea.mll:first").focus() });

- if user_signed_in? and current_user.can_manage_site?
  - content_for :rightbar do
    .box
      .box-header
        节点管理
      .cell
        = link_to "管理 #{@node.name} 节点", admin_planes_path + "#!/click/edit_#{@node.html_id}", :class => 'btn btn-sm btn-default'
      - if @node.quiet
        .inner
          = image_tag 'ghost.png', :align => :top, :title => t('tips.quiet_node')
          = t('tips.quiet_node')

= render 'custom_fields', :node => @node

.box
  .box-header
    - if user_signed_in?
      .fr
        = link_to '在此节点创建新话题', new_from_home_topics_path(:node_id => @node.id), :class => 'btn btn-sm btn-success'
    = build_navigation([@node.name], 'bigger')
    - if @node.introduction.present?
      .sep10
      %span.gray= @node.introduction
      .sep10
  = render @topics
  .inner
    = render 'paginator'

