- if user_signed_in?
  - content_for :template_js do
    $("a.super").click(function() { $("textarea.mll:first").focus() });

- if user_signed_in? and current_user.can_manage_site?
  - content_for :rightbar do
    .box
      .box-header
        节点管理
      .cell
        = link_to "修改 #{@node.name} 节点", edit_admin_node_path(@node), :class => 'btn btn-small btn-info'
      - if @node.quiet
        .inner
          = image_tag 'ghost.png', :align => :top, :title => t('tips.quiet_node')
          = t('tips.quiet_node')

.box
  .box-header
    .fr
      话题总数
      .label
        &nbsp;
        = @total_topics
        &nbsp;
    = build_navigation([@node.name], 'bigger')
  .cell
    = @node.introduction
.box
  .box-header
    最新话题
  = render @topics
  .inner
    = render 'paginator'

