.alert.alert-info 如果标题已经包含你想说的话，内容可以留空
= simple_form_for [node, topic] do |f|
  %a{:name => 'new_topic'}/
  = f.input :title, :label => '标题', :input_html => {:maxlength => 150, :class => :span6}
  = render 'shared/fileupload_widget', :textarea_selector => "textarea#topic_content"
  = render 'shared/preview_widget', :ref => :topic_content, :type => :topic
  = f.input :content, :input_html => {:rows => 10}, :label => false, :placeholder => '话题内容'
  - if current_user.can_manage_site?
    .checkbox
      = f.input :sticky, :inline_label => '保持置顶', :label => false
    .checkbox
      = f.input :comments_closed, :inline_label => '禁止回复', :label => false
  = f.submit (topic.new_record? ? '创建新话题' : '提交修改'), :class => 'btn btn-primary', :data => {:disable_with => t('tips.submitting')}
