<div class="md:p-4 md:overflow-hidden">
  <div class="md:mb-4">
    <div class="flex gap-4 items-baseline mb-2">
      <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-300">公共聊天室</div>
    </div>
    <div class="flex flex-col gap-2 text-stone-500">
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Eric</a></div>
          <div class="flex-grow">
            你好，朋友
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Richard</a></div>
          <div class="flex-grow">
            好久没写代码了
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">王一路</a></div>
          <div class="flex-grow">
            最近失业了，有没有什么赚钱的路子
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">MacTalk</a></div>
          <div class="flex-grow">
            程序员应该学学运营，才能更容易赚到钱，别光搞技术了
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">AI 开荒记</a></div>
          <div class="flex-grow">
            可以看看 AI 方面的机会
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">飞驰人生</a></div>
          <div class="flex-grow">
            有没有能在本地跑的大模型
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">六六大顺</a></div>
          <div class="flex-grow">
            想尝试做独立开发，靠谱吗
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <div><%= rand_avatar %></div>
        <div class=" text-sm flex flex-col">
          <div><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">勇敢牛牛</a></div>
          <div class="flex-grow">
            别问，问就是不靠谱
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
