.box.advertisement.span5
  .cell
    .pull-right
      = admin_edit_button('修改', advertisement)
    = advertisement.title
  = render 'shared/ad', :ad => advertisement
  .cell
    %table.table.table-bordered
      %tr
        %td
          开始日期
        %td
          = advertisement.start_date
      %tr
        %td
          结束日期
        %td
          = advertisement.expire_date
      %tr
        %td
          持续时间
        %td
          = advertisement.duration
          %span.gray 天
    .clear-fix
  .inner
    .pull-right
      = admin_delete_button(advertisement)
    - if advertisement.showing?
      .label.label-success 展示中
    - elsif advertisement.expire_date < today
      .label.label-danger 已过期
    - else
      .label.label-info 已预约
