= simple_form_for [:admin, ad], :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  = f.input :title, :label => '广告标题', :input_html => {:class => :span4}
  = f.input :words, :as => :text, :label => '广告语', :input_html => {:class => :span4, :rows => 2}
  = f.input :link, :label => '广告链接', :input_html => {:class => :span6}
  .control-group
    .controls
      = image_tag f.object.banner.url
  = f.input :banner, :label => '宣传图片'
  = f.input :start_date, :label => '开始日期'
  = f.input :duration, :label => '持续时间 (天)', :input_html => {:class => 'input-small'}

  .form-actions
    = f.submit '保存', :class => 'btn btn-small btn-primary'

