= form_for @user, :url => update_password_path do |f|
  %strong.fade 如果你不想更改密码，请留空以下输入框。
  .sep5
  %table{:cellpadding => 5, :cellspacing => 0, :border => 0}
    %tr
      %td{:width => 120, :align => :right} 当前密码
      %td{:width => 200, :align => :left}
        = f.password_field :current_password, :class => :sl
    %tr
      %td{:width => 120, :align => :right} 新密码
      %td{:width => 200, :align => :left}
        = f.password_field :password, :class => :sl
    %tr
      %td{:width => 120, :align => :right} 新密码确认
      %td{:width => 200, :align => :left}
        = f.password_field :password_confirmation, :class => :sl
    %tr
      %td{:align => :right}
      %td{:width => 200, :align => :left}
        = f.submit '更改密码', :class => btn_class
