= simple_form_for @user, :url => update_password_path, :html => {:class => 'form-horizontal'} do |f|
  %strong.fade 如果你不想更改密码，请留空以下输入框。
  .sep5
  = f.input :current_password, :label => '当前密码'
  = f.input :password, :label => '新密码'
  = f.input :password_confirmation, :label => '新密码确认'
  .form-actions
    = f.submit '修改密码', :class => 'btn btn-small btn-primary'

