- @title = '重新设置密码'
.box
  .cell
    = build_navigation([@title])
  .inner
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
      = f.input :nickname, :label => '用户名', :input_html => {:autofocus => true}
      = f.input :email, :label => '注册邮箱'
      .form-actions
        = f.submit @title, :class => 'btn btn-small btn-primary'
        .additional
          24 小时内，至多可以重新设置密码 2 次。

