#footer
  .container
    %span
      &copy;
      = Date.current.year
      = Siteconf.site_name
      &nbsp;&middot;&nbsp;
      = render :partial => 'pages/nav', :collection => Page.only_published.default_order, :spacer_template => 'pages/nav_ruler'
    .custom-footer
      = Siteconf.footer&.html_safe

:javascript
  #{Siteconf.custom_js&.html_safe}
