#Bottom
  #BottomMain
    %strong
      = render :partial => 'pages/nav', :collection => Page.only_published.default_order, :spacer_template => 'pages/nav_ruler'
    = Siteconf.footer.html_safe
    .sep10
    %small
      Powered by
      = link_to 'Rabel', 'http://rabelapp.com', :style => 'color: #E2E2E2', :target => '_blank'
      = Rabel.version

= render 'shared/google_analytics'

:javascript
  jQuery(function($) {
    window.rabel.search_engine_url = "#{search_engine_url}";
    #{yield :template_js}
  });

:javascript
  #{Siteconf.custom_js.html_safe}
