%title= title
%meta{:charset => 'UTF-8'}
%meta{:name => 'HandheldFriendly', :content => 'True'}
%meta{:content => "width=device-width, initial-scale=1.0", :name => :viewport}
= csrf_meta_tags
= Siteconf.custom_head_tags.html_safe
= favicon_link_tag
= auto_discovery_link_tag :atom, topics_path(:atom)
