%meta{:name => 'description', :content => @seo_description}
%meta{:charset => 'UTF-8'}
%meta{:name => 'HandheldFriendly', :content => 'True'}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
%title= title
= Siteconf.custom_head_tags.html_safe
= favicon_link_tag '/favicon.ico'
= auto_discovery_link_tag :atom, topics_path(:atom)
- if @canonical_path.present?
  %link{:rel => :canonical, :href => "http://#{ENV['RABEL_HOST_NAME']}#{@canonical_path}"}
= csrf_meta_tags
