- if user_signed_in?
  .box
    .cell
      %table
        %tr
          %td{:width => 48, :valign => :top}
            = user_profile_avatar_link(current_user, :medium)
          %td{:width => 10, :valign => :top}
          %td{:width => :auto, :valign => :left}
            .profile-link= user_profile_link(current_user)
            .signature= current_user.account.signature
      .sep10
      %table{:width => '100%'}
        = render 'shared/my_fav'
    - unless current_user.has_avatar?
      .cell
        .muted.alert.alert-warn{:style => 'margin-bottom: 0;'}
          头像不够个性？
          %a{:href => settings_path + "#avatar", :class => :rabel} 立刻上传 →
    .inner.muted
      - if @unread_count > 0
        = image_tag 'dot_orange.png', :class => :icon, :align => :top
        = link_to "#{@unread_count} 条未读提醒", notifications_path
      - else
        暂无提醒
- else
  .box
    .cell
      = "#{Siteconf.site_name} — #{Siteconf.short_intro}"
    .inner
      .sep5
      .center
        = link_to '现在注册', new_user_registration_path, :class => 'btn btn-small'
        .sep5
        .sep10
        已注册用户请
        = link_to '登入', new_user_session_path, :class => :rabel

- content_for :rightbar do
  = Siteconf.global_sidebar_block.html_safe
