.box#topics_index
  .cell{:align => 'left'}
    .pull-right
      = link_to '创建新话题', new_from_home_topics_path, :class => 'btn btn-success btn-small btn-new-topic'
    .welcome
      = Siteconf.welcome_tip.html_safe
  - if @sticky_topics.any?
    - if Siteconf.sticky_topics_heading.present?
      #sticky_topics.cell.topics_heading= Siteconf.sticky_topics_heading
    = render @sticky_topics

  - if @sticky_topics.any? and Siteconf.latest_topics_heading.present?
    #latest_topics.cell.topics_heading= Siteconf.latest_topics_heading

  = render @topics
  .inner
    .pull-right= render 'shared/rss'
    &nbsp;
    - if Topic.cached_count > Siteconf::HOMEPAGE_TOPICS
      %span.chevron »
      = link_to '更多新主题', topics_path + '?page=2', :class => :rabel
