.box#topics_index
  .cell{:align => 'left'}
    .fr
      %span.fade{:style => 'font-size: 110%'}
        = Siteconf.marketing.join('&nbsp;<span class="snow">&nbsp;•&nbsp;</span>&nbsp;').html_safe
    %span.bigger= Siteconf.welcome_tip.html_safe
    .sep10
    = Siteconf.splash.html_safe
  - if @sticky_topics.any?
    - if Siteconf.sticky_topics_heading.present?
      #sticky_topics.cell.topics_heading= Siteconf.sticky_topics_heading
    = render @sticky_topics

  - if @sticky_topics.any? and Siteconf.latest_topics_heading.present?
    #latest_topics.cell.topics_heading= Siteconf.latest_topics_heading

  = render @topics
  .inner
    .fr= render 'shared/rss'
    &nbsp;
    - if Topic.cached_count > Siteconf::HOMEPAGE_TOPICS
      %span.chevron »
      = link_to '更多新主题', topics_path + '?page=2'
