<nav class="md:w-[128px] border-r border-stone-200 dark:border-stone-600">
  <div class="flex md:flex-col md:justify-between md:h-screen">
    <div class="md:text-right md:p-4">
      <div class=""><%= link_to Siteconf.site_name, root_path, class: 'brand' %></div>
      <div id="navbar" class="flex md:flex-col md:mt-12 gap-2 md:gap-4 text-zinc-400 dark:text-zinc-500">
        <%= link_to_active '首页', root_path, request.path %>
        <% NavLink.sorted.each do |link| %>
          <%= link_to_active link.title, link.url, request.path %>
        <% end %>
      </div>
    </div>
    <div class="md:px-4 md:pb-2">
      <% if user_signed_in? %>
        <div class="text-right">
          <span><%= current_user.nickname %></span>
          <%= link_to '退出', sign_out_path, class: 'hover:text-orange-700 dark:hover:text-orange-500 md:hidden', data: {turbo_method: :delete} %>
        </div>
      <% else %>
        <%= link_to '登录', '#', class: 'modal-btn hover:text-orange-700 dark:hover:text-orange-500', data: {'modal-id': 'sign-in-modal'} %>
        <%= link_to '注册', '#', class: 'btn-primary modal-btn', data: {'modal-id': 'sign-up-modal'} %>
      <% end %>
    </div>
  </div>
</nav>
