<div class="md:mx-auto md:w-[860px]">
  <div class="px-2 md:px-0 overflow-hidden">
    <div class="mt-2 mb-2 md:mt-6 md:mb-6 py-2 px-2 md:px-0">
      <div class="mb-2 text-zinc-400 dark:text-zinc-500">最新成员</div>
      <div class="flex md:gap-4 justify-center">
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-indigo-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-stone-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-orange-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-amber-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-stone-700 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-orange-700 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-cyan-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-sky-800 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
      </div>
    </div>
    <div class="mt-2 mb-2 md:mt-6 md:mb-6 py-2 px-2 md:px-0">
      <div class="mb-2 text-zinc-400 dark:text-zinc-500">活跃成员</div>
      <div class="flex md:gap-4 justify-center">
        <div class="bg-sky-800 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-orange-700 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-cyan-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-indigo-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-stone-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-orange-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-amber-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
        <div class="bg-stone-700 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full"><%= rand_char %></div>
      </div>
    </div>
  </div>
</div>
