<div class="md:p-4 hidden md:block md:border-l md:border-stone-200 md:h-screen md:overflow-scroll">
  <div>
    <div class="flex gap-4 items-baseline mb-2">
      <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-500">最新成员</div>
      <div class="mb-2 text-zinc-400 dark:text-zinc-500">活跃成员</div>
      <div class="mb-2 text-zinc-400 dark:text-zinc-500">聊天室</div>
    </div>
    <div class="md:mb-4">
      <div class="flex gap-2">
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-indigo-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-stone-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-orange-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-amber-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-stone-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-amber-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
      </div>
    </div>
    <div class="md:mb-4">
      <div class="flex gap-2">
        <div class="bg-sky-800 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-orange-700 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-cyan-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-indigo-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-red-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
        <div class="bg-indigo-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-md"><%= rand_char %></div>
      </div>
    </div>
  </div>
  <div>
    <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-500">成员动态</div>
    <div class="flex flex-col gap-2">
      <div class="flex gap-2 hover:bg-stone-100 p-2">
        <div class="w-[48px]"><%= image_tag '/assets/zed.jpg', class: 'rounded-full' %></div>
        <div>
          <div class="flex gap-2">
            <span class="font-bold text-black">Zed</span>
            <span class="text-zinc-500">&middot;</span>
            <span class="text-zinc-500">Apr 8</span>
          </div>
          <div>
            <div>Zed Preview v0.132 is here as well. Here's a glimpse of what's new in Preview:</div>
            <div class="mb-2"></div>
            <div>- Preview tabs</div>
            <div>- Inline Git blame</div>
            <div>- Task summary output in terminal</div>
            <div>- Improved search UI</div>
            <div>- Improved ordering and organization of context menus in the project panel</div>
            <div class="mb-2"></div>
          </div>
          <div class="flex gap-2 text-zinc-500">
            <div>2 Comments</div>
            <div>2 Repost</div>
            <div>28 Likes</div>
            <div>4.8K Views</div>
          </div>
        </div>
      </div>
      <div class="flex gap-2 hover:bg-stone-100 p-2">
        <div class="w-[48px]">
          <div class="bg-sky-500 w-[48px] h-[48px] flex justify-center items-center text-white rounded-full">JT</div>
        </div>
        <div>
          <div class="flex gap-2 ">
            <span class="font-bold text-black">Justine Tunney</span>
            <span class="text-zinc-500">&middot;</span>
            <span class="text-zinc-500">6h</span>
          </div>
          <div>
            <div>I built a C library that lets you compile 12kb static binaries that run natively on Linux, Mac, Windows, FreeBSD, OpenBSD, NetBSD and BIOS using just GCC/Clang.</div>
            <div class="mb-2"></div>
            <div>
              <%= image_tag '/assets/code.png' %>
            </div>
          </div>
          <div class="flex gap-2 text-zinc-500">
            <div>2 Comments</div>
            <div>2 Repost</div>
            <div>28 Likes</div>
            <div>4.8K Views</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
