.box#topics_index
  .cell{:align => 'left'}
    .pull-right.marketing
      = Siteconf.short_intro
    .welcome= Siteconf.welcome_tip.html_safe
  - if @sticky_topics.any?
    = render @sticky_topics

  = render @topics
  .inner
    .pull-right= render 'shared/rss'
    &nbsp;
    - if Topic.cached_count > Siteconf::HOMEPAGE_TOPICS
      %span.chevron »
      = link_to '更多新主题', topics_path + '?page=2', :class => :rabel

- if Node.any?
  .box
    .cell
      节点导航
    .inner
      = render Node.order(Node.default_order_str).all

