= form_for [:admin, @file], :multipart => true do |f|
  %table
    %tr
      %td
      %td
        = f.file_field :asset
    %tr
      %td
        = f.label :name, '简要描述'
      %td
        = f.text_field :name, :class => :sl
        %small.smaller (必填)
    %tr
      %td
      %td
        = f.submit '上传', :class => 'super normal button'
