<div class="md:p-4 md:border-l md:border-stone-200 dark:border-stone-600 md:h-screen md:overflow-auto">
  <div>
    <div class="flex gap-4 items-baseline mb-2">
      <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-300">论坛板块</div>
    </div>
    <div class="md:mb-4">
      <div class="flex flex-col gap-4 text-stone-500">
        <div class=""><%= link_to '公告', '#' %></div>
        <div class=" "><%= link_to '项目进展', '#' %></div>
        <div class=" "><%= link_to '支付与合规', '#' %></div>
        <div class=" "><%= link_to '外包专区', '#' %></div>
        <div class=" "><%= link_to 'SEO', '#' %></div>
        <div class=" "><%= link_to 'ProductHunt 发布', '#' %></div>
        <div class=" "><%= link_to 'AI 工作流', '#' %></div>
        <div class=" "><%= link_to '工具专区', '#' %></div>
      </div>
    </div>
  </div>
</div>
