<div class="md:p-4" style=" margin-right: 100px;">
  <div class="md:mb-4">
    <div class="flex flex-col gap-2 text-stone-500">
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Perplexity认为Google、Meta、马斯克和整个世界都在抄袭它</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">九号的出海启示：把车卖到美国欧洲，也没那么难？</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">云鲸逍遥001新品发布：极致全智能清洁体验，高端旗舰新标杆</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">24.98万起的理想L6，可能是接下来的销量王</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">华为 Pura 70 Ultra 把移动影像带进了下一个次元</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">狂奔一年，钉钉把半条命交给 AI</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">日本政府拟为 5 家日企建 AI 超算提供超 700 亿日元补贴，以减少对美国技术依赖</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">九号的出海启示：把车卖到美国欧洲，也没那么难？</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">云鲸逍遥001新品发布：极致全智能清洁体验，高端旗舰新标杆</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">华为 Pura 70 Ultra 把移动影像带进了下一个次元</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">狂奔一年，钉钉把半条命交给 AI</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">24.98万起的理想L6，可能是接下来的销量王</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">日本政府拟为 5 家日企建 AI 超算提供超 700 亿日元补贴，以减少对美国技术依赖</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">狂奔一年，钉钉把半条命交给 AI</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">狂奔一年，钉钉把半条命交给 AI</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">华为 Pura 70 Ultra 把移动影像带进了下一个次元</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">狂奔一年，钉钉把半条命交给 AI</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">24.98万起的理想L6，可能是接下来的销量王</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">日本政府拟为 5 家日企建 AI 超算提供超 700 亿日元补贴，以减少对美国技术依赖</a></div>
      </div>
    </div>
  </div>
</div>
