.box.plane{:id => plane.html_id}
  .cell
    .fr
      = admin_edit_button('修改位面', plane, :remote => true, :class => 'dark')
      %span.gray /
      = admin_create_button('添加节点', [plane, :node], {:class => 'dark', :remote => true})
      - if plane.can_delete?
        = admin_delete_button(plane, :remote => true)
    = plane.name
  = render plane.nodes.default_order
.sep10
