- content_for :template_js do
  :plain
    rabel.sortable(".plane", "#{sort_admin_nodes_path}")

.box
  .inner
    .fr
      .btn-group
        = admin_create_button('添加位面', :plane, :remote => true)
        = link_to '位面排序', sort_admin_planes_path, :class => 'btn btn-small', :remote => true
    = build_admin_navigation([@title])

#planes
  = render @planes
