.box
  .cell
    = build_admin_navigation([@title])
  .inner
    = form_for :site_settings, :url => admin_site_settings_path, :method => :put do |f|
      .form-group
        = label_tag 'settings[custom_css]', '自定义CSS'
        .controls
          %span.help-inline &lt;style type="text/css"&gt;
          = text_area_tag 'settings[custom_css]', @settings.custom_css, :class => 'form-control', :rows => 5
          %span.help-inline &lt;/style&gt;

      .form-group
        = label_tag 'settings[custom_js]', '自定义JavaScript'
        .controls
          %span.help-inline &lt;script type="text/javascript"&gt;
          = text_area_tag 'settings[custom_js]', @settings.custom_js, :class => 'form-control', :rows => 5
          %span.help-inline &lt;/script&gt;

      .form-actions
        = f.submit '保存', :class => 'btn btn-small btn-primary'
