.box
  .cell
    = build_admin_navigation([@title])
  .inner
    = form_for :site_settings, :url => admin_site_settings_path, :method => :put do |f|
      .form-group
        = label_tag 'settings[site_name]', '网站名称'
        = text_field_tag 'settings[site_name]', @settings.site_name, :class => 'form-control'
        %span.help-block 必填

      .form-group
        = label_tag 'settings[short_intro]', '简短介绍'
        = text_field_tag 'settings[short_intro]', @settings.short_intro, :class => 'form-control'
        %span.help-block 网站简短介绍, 显示在右侧边栏

      .form-group
        = label_tag 'settings[ga_id]', 'Google Analytics ID'
        = text_field_tag 'settings[ga_id]', @settings.ga_id, :class => 'form-control'
        %span.help-block 例如: UA-12345678-01

      .form-group
        = label_tag 'settings[default_search_engine]', '站内搜索引擎'
        = select_tag 'settings[default_search_engine]', options_for_select([['谷歌', 'google'], ['百度', 'baidu'], ['必应', 'bing']], @settings.default_search_engine), :class => 'form-control'

      .form-group
        = label_tag 'settings[show_captcha]', '注册验证码'
        .radio
          %label
            = radio_button_tag 'settings[show_captcha]', 'on', @settings.show_captcha?
            开启
          %label
            = radio_button_tag 'settings[show_captcha]', 'off', !@settings.show_captcha?
            关闭

      .form-group
        = label_tag 'settings[show_community_stats]', '社区运行状态'
        .radio
          %label
            = radio_button_tag 'settings[show_community_stats]', 'on', @settings.show_community_stats?
            显示
          %label
            = radio_button_tag 'settings[show_community_stats]', 'off', !@settings.show_community_stats?
            隐藏

      .form-group
        = label_tag 'settings[allow_markdown_in_topics]', '话题允许 Markdown'
        .radio
          %label
            = radio_button_tag 'settings[allow_markdown_in_topics]', 'on', @settings.allow_markdown_in_topics?
            允许
          %label
            = radio_button_tag 'settings[allow_markdown_in_topics]', 'off', !@settings.allow_markdown_in_topics?
            关闭

      .form-group
        = label_tag 'settings[allow_markdown_in_comments]', '回复允许 Markdown', :class => 'control-label'
        .radio
          %label
            = radio_button_tag 'settings[allow_markdown_in_comments]', 'on', @settings.allow_markdown_in_comments?
            允许
          %label
            = radio_button_tag 'settings[allow_markdown_in_comments]', 'off', !@settings.allow_markdown_in_comments?
            关闭
      .form-group
        = label_tag 'settings[allow_markdown_in_pages]', '页面允许 Markdown'
        .radio
          %label
            = radio_button_tag 'settings[allow_markdown_in_pages]', 'on', @settings.allow_markdown_in_pages?
            允许
          %label
            = radio_button_tag 'settings[allow_markdown_in_pages]', 'off', !@settings.allow_markdown_in_pages?
            关闭
      .form-group
        = label_tag 'settings[custom_head_tags]', '自定义Head标签'
        = text_area_tag 'settings[custom_head_tags]', @settings.custom_head_tags, :class => 'form-control', :rows => 5
        %span.help-block 可以添加&lt;meta&gt;, &lt;script&gt;, &lt;style&gt;等头部标签
      .form-group
        = label_tag 'settings[seo_description]', 'SEO 描述'
        = text_area_tag 'settings[seo_description]', @settings.seo_description, :class => 'form-control'
        %span.help-block 用于HTML meta标签
      .form-group
        = label_tag 'settings[global_sidebar_block]', '全局侧边栏'
        = text_area_tag 'settings[global_sidebar_block]', @settings.global_sidebar_block, :class => 'form-control', :rows => 5
        %span.help-block 支持HTML
      .form-group
        = label_tag 'settings[footer]', '页面底部 [普通版]'
        = text_area_tag 'settings[footer]', @settings.footer, :class => 'form-control', :rows => 5
        %span.help-block 支持HTML
      .form-group
        = label_tag 'settings[sticky_topics_heading]', '置顶话题提示'
        = text_field_tag 'settings[sticky_topics_heading]', @settings.sticky_topics_heading, :class => 'form-control'
      .form-group
        = label_tag 'settings[latest_topics_heading]', '最新话题提示'
        = text_field_tag 'settings[latest_topics_heading]', @settings.latest_topics_heading, :class => 'form-control'
      .form-group
        = label_tag 'settings[reward_title]', '奖励名称'
        = text_field_tag 'settings[reward_title]', @settings.reward_title, :class => 'form-control'
        %span.help-block 例如: 银币，金币，积分，优惠券，代金券，蓝钻, Q币等

      .form-actions
        = f.submit '保存', :class => 'btn btn-small btn-primary'

