.box
  .cell
    .fr
      = form_for '', :url => admin_users_path, :method => :get, :html => {:class => 'form-search'} do
        .input-append
          = text_field_tag :nickname, params[:nickname], :class => 'span2 search-query', :placeholder => '用户昵称'
          = submit_tag '搜索', :class => :btn

    = build_admin_navigation([@title])
  .cell
    %table.table
      %thead
        %tr
          %th{:align => :right} ID
          %th.w50{:align => :left} 昵称
          %th.auto{:align => :left} 角色
          %th.auto{:align => :left} Email
          %th.auto{:align => :right}= Siteconf.reward_title
          %th 操作
      %tbody
        = render @users
  .inner{:align => :center}
    = paginate @users
