.row
  .box.span8
    .cell
      最新用户
    .inner
      %table.topics.table
        %thead
          %tr
            %th.w50 ID
            %th.auto{:align => :left} 用户名
            %th.auto{:align => :left} Email
            %th.w100 注册时间
        %tbody
          - User.order('created_at DESC').limit(5).each do |user|
            %tr
              %td.w50
                = user.id
              %td.auto
                = user.nickname
              %td.auto
                = user.email
              %td.w100
                %small.gray= time_ago_in_words(user.created_at)

.row
  .box.span4
    .cell
      社区运行状态
    .inner
      %table{:cellpadding => 3, :cellspacing => 0, :border => 0, :width => '100%'}
        %tr
          %td{:align => :right, :width => '40%'}
            %span.gray 注册会员总数
          %td{:align => :left}
            %strong= User.cached_count
        %tr
          %td{:align => :right, :width => '40%'}
            %span.gray 主题总数
          %td{:align => :left}
            %strong= Topic.cached_count
        %tr
          %td{:align => :right, :width => '40%'}
            %span.gray 回复总数
          %td{:align => :left}
            %strong= Comment.cached_count

  .box.span4
    .cell
      系统清理
    .inner
      %table.table.table-bordered
        %tr
          %td{:align => :right, :width => '40%'}
            %span.gray 可清理提醒
          %td{:align => :left}
            .pull-right= link_to '删除已读提醒', clear_admin_notifications_path, :method => :delete, :class => 'btn btn-mini btn-info' if @notifications_to_clear > 0
            %strong= @notifications_to_clear

.row
  .box.span8
    .cell
      最新回复
    .inner
      = render Comment.order('created_at DESC').limit(5)


