<div class="flex md:flex-col md:justify-between md:h-screen border-r border-stone-200 fixed" style="width: 260px;">
  <div class="md:text-right md:p-4">
    <div class="">
      <%= link_to root_path, class: 'brand' do %>
        <div><%= Siteconf.site_name %></div>
      <% end %>
      <div class="text-zinc-400 text-sm"><%= Siteconf.slogan %></div>
    </div>
    <div id="navbar" class="flex md:flex-col md:mt-12 gap-2 md:gap-4 text-zinc-700 dark:text-zinc-500">
      <%= link_to_active '首页', root_path, request.path, @navbar_name %>
      <% NavLink.navbar.each do |link| %>
        <% if link.url.start_with?("http") %>
          <%= link_to link.title, link.url, target: '_blank' %>
        <% else %>
          <%= link_to_active link.title, link.url, request.path, @navbar_name %>
        <% end %>
      <% end %>
    </div>
    <% unless user_signed_in? %>
      <div class="flex flex-col mt-8 gap-2">
        <%= link_to '登录', '#', class: 'modal-btn hover:text-orange-700 dark:hover:text-orange-500', data: {'modal-id': 'sign-in-modal'} %>
        <%= link_to '注册', '#', class: 'modal-btn hover:text-orange-700 dark:hover:text-orange-500', data: {'modal-id': 'sign-up-modal'} %>
      </div>
    <% end %>
  </div>
  <div class=" ">
    <% if user_signed_in? %>
      <div class="flex justify-between px-4 py-2 border-t border-stone-200">
        <div>
          <%= link_to '退出', sign_out_path, class: 'hover:text-orange-700 dark:hover:text-orange-500', data: {turbo_method: :delete} %>
        </div>
        <div class="">
          <%= current_user.nickname %>
        </div>
      </div>
    <% end %>
  </div>
</div>
