- content_for :content do
  .col-md-9
    = render 'shared/alert'
    = yield

- content_for :sidebar do
  .col-md-3#Rightbar
    = render 'shared/sidebar_box'
    = yield :rightbar
    = render :partial => 'shared/ad', :collection => Advertisement.available, :as => :ad

= render :template => 'layouts/base'

