- content_for :content do
  .d-flex
    .main-content
      = render 'shared/alert'
      = yield
    .sidebar
      = render 'shared/sidebar_box'
      = yield :rightbar
      = render :partial => 'shared/ad', :collection => Advertisement.available, :as => :ad

= render :template => 'layouts/base'
