!!! 5
%html{:lang => 'zh-CN'}
  %head
    = render 'shared/head'
  %body
    #Top
      = render 'shared/top', :link_class => :top
    #Wrapper
      - if Siteconf.global_banner.present?
        .sep10
        #Banner
          = image_tag Siteconf.global_banner, :alt => :banner
        .sep10
      - else
      #Content
        #Sidebar
        #Rightbar
          = render 'shared/sidebar_box'
          = yield :rightbar
          = render :partial => 'shared/ad', :collection => Advertisement.available, :as => :ad
        #Main
          = render 'shared/content'
        .c
    = render 'shared/footer'

