<%= content_for :app do %>
  <div class="flex">
    <div class="">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="flex flex-col w-full h-screen" style="margin-left: 260px;">
      <%= yield :nav_links %>
      <div class="bg-stone-100">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
