<div class="md:p-4 md:overflow-hidden">
  <div class="md:mb-4">
    <div class="flex gap-4 items-baseline mb-2">
      <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-300">所有成员</div>
      <div class="mb-2 text-zinc-400 dark:text-zinc-400">金牌会员</div>
      <div class="mb-2 text-zinc-400 dark:text-zinc-400">钻石会员</div>
    </div>
    <div class="flex flex-col gap-2 text-stone-500">
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Eric</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Richard</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">王一路</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">二爷</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">AI 开荒记</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">微博旅行</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">李智慧</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">MacTalk</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">二爷</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">AI 开荒记</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">微博旅行</a></div>
      </div>
    </div>
  </div>
</div>
