<div class="md:p-4" style="margin-left: 200px;">
  <div class="md:mb-4">
    <div class="flex flex-col gap-2 text-stone-500">
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Eric</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Richard</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">王一路</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">二爷</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">AI 开荒记</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">微博旅行</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">李智慧</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">MacTalk</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">二爷</a></div>
      </div>
      <div class=" text-sm  flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">AI 开荒记</a></div>
      </div>
      <div class=" text-sm flex items-center">
        <%= rand_avatar %>
        <div class="ml-[10px]"><a href="#" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">微博旅行</a></div>
      </div>
    </div>
  </div>
</div>
